* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.timeline:before, .timeline:after {
  text-align: left; }

.item .icon, .item.work a .overlay .button, .section.feature .overlay article header .icon, .section.feature .overlay .button, .section article header, .statistics .chart, .statistics .stat .circle-text {
  text-align: center; }

::-webkit-selection, ::-moz-selection, ::selection {
  background: #c11;
  color: #fff; }

body {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: "Lato", sans-serif;
  color: #8F8F8F; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.25rem;
  color: #272727; }

h1 {
  font-size: 22px;
  line-height: 30.8px;
  font-size: 1.375rem;
  line-height: 1.925rem; }

h2 {
  font-size: 20px;
  line-height: 28px;
  font-size: 1.25rem;
  line-height: 1.75rem; }

h3 {
  font-size: 20px;
  line-height: 28px;
  font-size: 1.25rem;
  line-height: 1.75rem; }

h4 {
  font-size: 18px;
  line-height: 25.2px;
  font-size: 1.125rem;
  line-height: 1.575rem; }

h5 {
  font-size: 16px;
  line-height: 22.4px;
  font-size: 1rem;
  line-height: 1.4rem; }

h6 {
  font-size: 14px;
  line-height: 19.6px;
  font-size: 0.875rem;
  line-height: 1.225rem; }

p {
  font-size: 16px;
  line-height: 22.4px;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1.25rem;
  font-weight: 300; }

ul, ol {
  margin-bottom: 1.25rem; }

button, .btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 0.75rem;
  line-height: 1.05rem;
  padding: 0.9375rem 1.5625rem;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent; }

button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  background: transparent;
  border: 2px solid #fff; }

abbr {
  border-bottom: 1px dotted #c11;
  cursor: help; }

em {
  font-weight: 700;
  color: #272727; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #c11;
  text-decoration: none; }

a:hover, a:focus {
  color: #711b1e; }

mark {
  background: transparent;
  color: inherit; }

small {
  font-size: 0.6875rem;
  line-height: 0.9625rem; }

.overlay {
  background: rgba(180, 10, 10, 0.8); }

main {
  height: 100%;
  width: 100%;
  position: absolute; }

main:after {
  content: "";
  display: table;
  clear: both; }

.item {
  float: left;
  display: block;
  margin-right: 1.96078%;
  width: 100%;
  margin: 0 0 0.9375rem;
  clear: both; }

.item:last-child {
  margin-right: 0; }

@media screen and (min-width: 768px) {
  .item {
    float: left;
    display: block;
    margin-right: 1.96078%;
    width: 32.02614%;
    margin-bottom: 3.75rem;
    clear: none; }
  .item:last-child {
    margin-right: 0; }
  .item:nth-of-type(3n) {
    margin-right: 0; } }

.item .icon {
  padding-bottom: 1.5625rem; }

.item .text {
  padding-top: 0.625rem;
  border-top: 2px solid #fff; }

.item.work {
  margin-bottom: 0.9375rem;
  position: relative;
  z-index: 10;
  overflow: hidden; }

@media screen and (min-width: 768px) {
  .item.work {
    margin-bottom: 1.25rem; } }

@media screen and (min-width: 992px) {
  .item.work {
    margin-bottom: 1.5625rem; } }

.item.work a {
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 10; }

.item.work a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

.item.work a .overlay {
  height: 100%;
  width: 100%;
  display: table; }

.item.work a .overlay .button {
  display: table-cell;
  vertical-align: middle; }

.item.work img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto; }

.item.work:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center; }

.section {
  padding: 0 0.9375rem;
  position: relative;
  background: #8F8F8F;
  overflow: hidden; }

.section:after {
  content: "";
  display: table;
  clear: both; }

.section:nth-child(1) {
  z-index: 10; }

.section:nth-child(2) {
  z-index: 9; }

.section:nth-child(3) {
  z-index: 8; }

.section:nth-child(4) {
  z-index: 7; }

.section:nth-child(5) {
  z-index: 6; }

.section:nth-child(6) {
  z-index: 5; }

.section:nth-child(7) {
  z-index: 4; }

.section:nth-child(8) {
  z-index: 3; }

.section:nth-child(9) {
  z-index: 2; }

.section:nth-child(10) {
  z-index: 1; }

.section:after {
  position: absolute;
  z-index: 20;
  top: 100%;
  left: 50%;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px; }

.section.grey {
  background: #dfdfdf; }

.section.grey:after {
  border-top-color: #f3f3f3; }

.section.white {
  background: #EFEFEF; }

.section.white:after {
  border-top-color: #fff; }

.section.dark {
  background: #272727; }

.section.dark:after {
  display: none; }

.section.quote {
  padding: 0;
  background: #c11 url("../../images/dale-race.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.section.quote:after {
  display: none; }

.section.quote .overlay {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10; }

.section.quote .overlay blockquote {
  float: left;
  display: block;
  margin-right: 1.96078%;
  width: 83.00654%;
  margin-left: 8.49673%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #fff; }

.section.quote .overlay blockquote:last-child {
  margin-right: 0; }

@media screen and (min-width: 768px) {
  .section.quote .overlay blockquote {
    float: left;
    display: block;
    margin-right: 1.96078%;
    width: 66.01307%;
    margin-left: 16.99346%;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .section.quote .overlay blockquote:last-child {
    margin-right: 0; } }

.section.quote .overlay blockquote p {
  font-size: 1.375rem;
  line-height: 1.925rem;
  margin-bottom: 2.5rem; }

@media screen and (min-width: 768px) {
  .section.quote .overlay blockquote p {
    font-size: 1.875rem;
    line-height: 2.625rem; } }

@media screen and (min-width: 992px) {
  .section.quote .overlay blockquote p {
    font-size: 2.1875rem;
    line-height: 3.0625rem; } }

.section.quote .overlay blockquote footer p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0; }

.section.quote .overlay blockquote footer p em {
  color: inherit; }

.section.quote .overlay blockquote footer p a {
  color: inherit; }

/*.section.feature {
    height: 100%;
    width: 100%;
    padding: 0;
    display: table;
    z-index: 100;
    background: #c11 url("") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.section.feature:after {
    display: none;
}
.section.feature .underlay {
    position: relative;
    z-index: 5;
    width: 100%;
    overflow: hidden;
}
.section.feature .underlay:after {
    content: "";
    display: table;
    clear: both;
}
.section.feature .overlay {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 10;
}
.section.feature .overlay article header {
    padding: 0 1.875rem;
    margin-top: -80px;
}
.section.feature .overlay article header .icon {
    padding-bottom: 1.5625rem;
}
.section.feature .overlay article header h1 {
    font-size: 1.375rem;
    line-height: 1.925rem;
    margin: 0;
    color: #fff;
    font-weight: 300;
}
.section.feature .overlay article header h1.name{
    font-size: 3rem;
    font-weight: 500;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.section.feature .overlay .button {
    padding: 0 0 5rem;
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
}
.section.feature .media {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}*/
.section#section-work {
  padding-bottom: 1.5625rem; }

@media screen and (min-width: 768px) {
  .section#section-work {
    padding-bottom: 3.4375rem; } }

.section article {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }

.section article:after {
  content: "";
  display: table;
  clear: both; }

.section article header {
  float: left;
  display: block;
  margin-right: 1.96078%;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.section article header:last-child {
  margin-right: 0; }

@media screen and (min-width: 768px) {
  .section article header {
    float: left;
    display: block;
    margin-right: 2%;
    width: 66%;
    margin-left: 16%;
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem; }
  .section article header:last-child {
    margin-right: 0; } }

@media screen and (min-width: 992px) {
  .section article header {
    float: left;
    display: block;
    margin-right: 25%;
    width: 50%;
    margin-left: 25%; }
  .section article header:last-child {
    margin-right: 0; } }

.section article header h2 {
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .section article header h2 {
    font-size: 35px;
    line-height: 49px;
    font-size: 2.1875rem;
    line-height: 3.0625rem;
    font-weight: 300; } }

.section article header p {
  font-size: 16px;
  line-height: 22.4px;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0; }

@media screen and (min-width: 768px) {
  .section article header p {
    font-size: 1.125rem;
    line-height: 1.575rem; } }

@media screen and (min-width: 992px) {
  .section article header p {
    font-size: 1.25rem;
    line-height: 1.75rem; } }

.statistics {
  float: left;
  display: block;
  margin-right: 1.96078%;
  width: 100%;
  padding-bottom: 1.875rem; }

.statistics:last-child {
  margin-right: 0; }

@media screen and (min-width: 768px) {
  .statistics {
    float: left;
    display: block;
    margin-right: 1.96078%;
    width: 74.5098%;
    margin-left: 12.7451%;
    padding-bottom: 3.4375rem; }
  .statistics:last-child {
    margin-right: 0; } }

.statistics .chart {
  float: left;
  display: block;
  margin-right: 1.96078%;
  width: 100%; }

.statistics .chart:last-child {
  margin-right: 0; }

@media screen and (min-width: 768px) {
  .statistics .chart {
    float: left;
    display: block;
    margin-right: 1.96078%;
    width: 32.02614%; }
  .statistics .chart:last-child {
    margin-right: 0; } }

.statistics .chart div + p {
  margin-bottom: 0.625rem; }

.statistics .stat {
  display: inline-block;
  position: relative;
  z-index: 1; }

.statistics .stat .circle-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  position: absolute;
  z-index: 2;
  width: 100%; }

.timeline {
  float: left;
  display: block;
  margin-right: 1.96078%;
  width: 100%;
  padding: 0;
  margin: 0 0 5rem;
  position: relative;
  z-index: 10; }

.timeline:after {
  content: "";
  display: table;
  clear: both; }

/*
input[type="text"], input[type="number"], input[type="date"], input[type="email"], input[type="month"] {
    clear: both;
    width: 100%;
    padding: 0.5rem 0.65rem;
    font-size: 100%;
}

#butCheckout {
    margin: 1.5rem;
    padding: 0.5rem;
    background: #eee;
    color: #777;
    border: 2px solid gray;
    cursor: pointer;
    clear: both;
}*/
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 1080px) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 1080px) {
      header.navigation .nav {
        float: left; } }
  header.navigation ul#navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 1080px) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 1080px) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400; }
      @media screen and (min-width: 1080px) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 1080px) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 1080px) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 1080px) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 1080px) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 1080px) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 1080px) {
        header.navigation ul.submenu li {
          line-height: 46.1538461538px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 1080px) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 1080px) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 1.2em;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #477DCA;
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.4em 0.5em; }
    @media screen and (min-width: 1080px) {
      header.navigation a.sign-up {
        padding: 0.5em 1em; } }
    header.navigation a.sign-up:hover {
      background: #6f99d5; }
  header.navigation .search-bar {
    padding: 0.85em 0.6em;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        padding: 0.6em 0.8em;
        font-size: 0.9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 6px;
        margin: 0; }
        @media screen and (min-width: 1080px) {
          header.navigation .search-bar .search-and-submit input[type=search] {
            width: 100%; } }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #363636;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #808080;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #595959;
        background-image: -webkit-linear-gradient(#595959, #3d3d3d);
        background-image: linear-gradient(#595959, #3d3d3d);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #2b2b2b;
        background-clip: padding-box;
        border: 1px solid #3a3131;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #758a8a;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #595959;
        background-image: -webkit-linear-gradient(#595959, #433838);
        background-image: linear-gradient(#595959, #433838);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #322525;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #666666;
          cursor: pointer;
          background-color: #4d4d4d;
          background-image: -webkit-linear-gradient(#4d4d4d, #363636);
          background-image: linear-gradient(#4d4d4d, #363636); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #363636;
          box-shadow: inset 0 0 8px 4px #2e2e2e, inset 0 0 8px 4px #2e2e2e; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #5f6d6d;
          cursor: pointer;
          background-color: #495050;
          background-image: -webkit-linear-gradient(#495050, #3a3131);
          background-image: linear-gradient(#495050, #3a3131); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #3a3131;
          box-shadow: inset 0 0 8px 4px #312b2b, inset 0 0 8px 4px #312b2b; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: 0.7; }
    @media screen and (min-width: 1080px) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

.hero {
  background: url('../images/cover-landscape.png'), -webkit-linear-gradient(-280deg, #3f0505, #c11), no-repeat #c11 scroll;
  background: url('../images/cover-landscape.png'), linear-gradient(10deg, #3f0505, #c11), no-repeat #c11 scroll;
  clear: both;
  margin-top: 0;
  background-repeat: no-repeat;
  background-position: static;
  background-size: cover; }
  .hero .hero-logo img {
    height: 3em;
    margin-bottom: 2em; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin: auto;
    text-align: center;
    color: white; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner img {
      margin-top: 1em;
      width: 35em; }
    .hero .hero-inner button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(#ffffff, #e3e3e3);
      background-image: linear-gradient(#ffffff, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(#ffffff, #e5e0e0);
      background-image: linear-gradient(#ffffff, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f3f3;
        background-image: -webkit-linear-gradient(#f2f3f3, #ded8d8);
        background-image: linear-gradient(#f2f3f3, #ded8d8); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }

.intro-text {
  margin-bottom: 5em;
  margin-top: 4em;
  text-align: center; }
  .intro-text h2 {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 800;
    margin-bottom: 0.3em; }
    @media screen and (min-width: 1080px) {
      .intro-text h2 {
        font-size: 3em;
        margin-bottom: 0.4em; } }
  .intro-text h4 {
    color: #999999;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em; }
    @media screen and (min-width: 768px) {
      .intro-text h4 {
        width: 60%; } }
    @media screen and (min-width: 1080px) {
      .intro-text h4 {
        font-size: 1.7em;
        line-height: 1.35em;
        margin: 0 auto 1em;
        width: 60%; } }

.footer-2 {
  background: #333;
  padding: 2.25em;
  width: 100%;
  vertical-align: center;
  padding-bottom: 3.75em; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 1080px) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 1080px) {
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 1080px) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 1080px) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: 0.8em;
    font-weight: 400; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 1080px) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: 0.7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: 0.7;
      height: 1.6em;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
